@font-face {
  font-family: "Work Sans";
  font-display: swap;
  font-weight: 400 700;
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: inherit;
  }

  html,
  body {
    height: 100%;
  }
}

@layer base {
  :root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
    --font-size: clamp(
      16px,
      16px + (100vw - 375px) * (20 - 16) / (1440 - 375),
      20px
    );
    --line-height: 1.5;
  }

  body {
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    background-color: var(--purple-100);
  }

  main {
    --image-url: url("../assets/images/background-pattern-mobile.svg");

    @media (375px < width) {
      --image-url: url("../assets/images/background-pattern-desktop.svg");
    }

    display: flex;
    height: 100%;
    background: top center no-repeat var(--image-url);
  }

  article {
    margin: auto;
    background-color: var(--white);

    header {
      display: flex;
      align-items: center;
      gap: 1em;
      font-weight: 700;
      font-size: 2em;
    }

    details {
      &:open {
        img[alt="plus icon"] {
          display: none;
        }
      }

      &:not(:open) {
        img[alt="minus icon"] {
          display: none;
        }
      }
    }

    summary {
      display: flex;
      justify-content: space-between;
    }
  }
}
