@font-face {
  font-family: "Work Sans";
  font-display: swap;
  font-weight: 400 700;
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}

@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: inherit;
  }

  html,
  body {
    height: 100%;
  }
}

@layer base {
  :root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);

    --font-size: clamp(
      16px,
      16px + (100vw - 375px) * (20 - 16) / (1440 - 375),
      20px
    );
    --font-family: "Work Sans", Arial, Helvetica, sans-serif;
    --font-1: 400 0.875em/1.5 var(--font-family);
    --font-2: 600 1em/1.3 var(--font-family);
    --font-3: 700 1.625em/1.1 var(--font-family);
  }

  body {
    font: var(--font-1);
    background-color: var(--purple-100);
    color: var(--purple-950);
  }

  main {
    --image-url: url("../assets/images/background-pattern-mobile.svg");

    @media (375px < width) {
      --image-url: url("../assets/images/background-pattern-desktop.svg");
    }

    display: flex;
    padding: 1em;
    height: 100%;
    background: top center no-repeat var(--image-url);
  }

  article {
    margin: auto;
    padding: 1.5em;
    border-radius: 1em;
    background-color: var(--white);

    header {
      display: flex;
      align-items: center;
      gap: 1em;
      font: var(--font-3);
    }

    details {
      padding-block: 1em;

      & ~ details {
        border-top: 0.1em solid var(--purple-100);
      }

      &:open {
        img[alt="plus icon"] {
          display: none;
        }
      }

      &:not(:open) {
        img[alt="minus icon"] {
          display: none;
        }
      }

      p {
        padding-block-start: 1em;
        color: var(--purple-600);
      }
    }

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      font: var(--font-2);
      text-wrap: balance;
    }
  }
}
